<!doctype html>
<html class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />  
    <title>Home</title>
  </head>
  <body class="h-full bg-gray-100 dark:bg-gray-800">
    
    
    <!-- Trigger Button -->
    <div class="flex flex-col justify-center items-center h-full w-full">
    <button 
      type="button" 
      id="openModalButton" 
      class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Open Modal
    </button>
    
  </div>

  <!-- Modal -->
  <div 
    class="fixed antialiased inset-0 bg-opacity-75 flex justify-center items-center opacity-0 pointer-events-none transition-opacity duration-300 ease-out z-[9999]" 
    id="exampleModalWeb3" 
    aria-hidden="true"
  >
    <div class="bg-white rounded-lg  scale-95 transition-transform duration-300 ease-out">
      <!-- Modal Header -->
      <div class="border-b border-stone-200 p-4 flex justify-between items-start">
        <div class="flex flex-col">
          <h1 class="text-lg text-stone-800 font-semibold">Upload File</h1>
        </div>
        <button 
          type="button" 
          id="closeModalButton" 
          aria-label="Close" 
          class="text-stone-500 hover:text-stone-800 text-lg"
        >
          &times;
        </button>
      </div>

      <!-- Modal Body -->
      <div class="p-4 text-stone-500">
        <main class="h-full flex flex-col items-center justify-center w-full ">
      
          <div class="flex items-center w-full justify-center">
            
            <form action="/upload-file" method="post" enctype="multipart/form-data">
              <div class="flex items-center justify-center w-96">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                  <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                  </div>
                  <input id="dropzone-file" type="file" class="hidden" />
                </label>
              </div> 
              <div class="border-t border-stone-200 flex flex-col items-center pt-8 w-full mt-8"><button type="submit" class="shadow-sm text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Upload File</button></div>
          </form>
    
        </div>
        </main>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  <!-- JavaScript -->
  <script>
    const modal = document.getElementById("exampleModalWeb3");
    const openModalButton = document.getElementById("openModalButton");
    const closeModalButton = document.getElementById("closeModalButton");

    openModalButton.addEventListener("click", () => {
      modal.classList.remove("opacity-0", "pointer-events-none");
      modal.classList.add("opacity-100");
    });

    closeModalButton.addEventListener("click", () => {
      modal.classList.add("opacity-0", "pointer-events-none");
      modal.classList.remove("opacity-100");
    });
  </script>

    
  </body>
</html>